#feedback{
    padding-top: 5%;
    padding-bottom: 5%;
  
}
#feedback .container-fluid{
    padding: 5%;
     width: 60%; 
    background-color: rgba(255, 255, 255,0.1);
    box-shadow: 5px 5px 5px 5px rgba(75,75,75,0.5);
    border-radius: 5px;
  
}
#feedback h1{
    color:#6B4315;

}
#feedback .form-group{
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 4%;
    border: 1px solid rgba(58, 58, 58, .3);
   
}

#feedback textarea{
    border: none !important;
    box-shadow: none !important;



}
input::placeholder{
    padding-left: 5px;
    

}
@media screen and (max-width: 600px) {
    #feedback .container-fluid{
        width: 100%;
    }
}   
